<div class="home">

  <div *ngIf="!isLoggedIn" class="row justify-content-center">
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hoşgeldiniz</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
            etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="/login" class="btn btn-primary my-2">Üye Olabilirsiniz</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="card-group col-md-12">

              <div class="col-md-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;  min-height:14rem;">
                  <div class="card-header">Digitus</div>
                  <div class="card-body">
                    <h5 class="card-title">Profesyonel İş</h5>
                    <p class="card-text"> </p>
                  </div>
                </div>
              </div>




              <div class="col-md-4">
                <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;  min-height:14rem;">
                  <div class="card-header">Digitus</div>
                  <div class="card-body">
                    <h5 class="card-title">Kariyer Fırsatları</h5>
                    <p class="card-text"> </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;  min-height:14rem;">
                  <div class="card-header">Digitus</div>
                  <div class="card-body">
                    <h5 class="card-title">İletisim</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>

  <div *ngIf="isLoggedIn" class="row justify-content-center">
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Anasayfa</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
            etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="/login" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="card-group col-md-12">

              <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;  min-height:14rem;">
                  <div class="card-header">Digitus</div>
                  <div class="card-body">
                    <h5 class="card-title">Profesyonel İş</h5>
                    <p class="card-text"> </p>
                  </div>
                </div>
              </div>




              <div class="col-md-4">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;  min-height:14rem;">
                  <div class="card-header">Digitus</div>
                  <div class="card-body">
                    <h5 class="card-title">Kariyer Fırsatları</h5>
                    <p class="card-text"> </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;  min-height:14rem;">
                  <div class="card-header">Digitus</div>
                  <div class="card-body">
                    <h5 class="card-title">İletisim</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>