<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                        <div class="form-group row">
                            <label for="mail" class="col-md-4 col-form-label text-md-right">email</label>
                            <div class="col-md-6">
                                <input type="text" id="mail" [formControlName]="'mail'" class="form-control" name="mail" required
                                    autofocus>
                                    <span  *ngIf="!forgotPasswordForm.get('mail').valid && forgotPasswordForm.get('mail').touched ">
                                        please provide a valid email
                                   </span>

                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="login">
                                Send reset password link
                            </button>
                            
                        </span>
                        <!-- Info  -->
                        <span></span>

                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>