<div class="adminpage">

    <div class="alert alert-primary ">
        <h3 style="color:black;" class="center"><b>  Admin Panel </b></h3>

    </div>
    <div class="">
        <div class="">
            <table class="table ">
                <thead class="">
                    
                    <th scope="col">Online Users</th>
                    <th scope="col">Unverificated Users</th>
                    <th scope="col">Login Time(Average)</th>
                </thead>
                <thead>
                    
                    <th scope="col">{{onlineUsers}}</th>
                    <th scope="col">{{unverificatedUsers}}</th>
                    <th scope="col">-</th>
                </thead>
            </table>
        </div>
       
    </div>

</div>